body {
  background-color: #def;
  background-image: radial-gradient(
      closest-side,
      transparent 98%,
      rgba(0, 0, 0, 0.1) 99%
    ),
    radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.05) 99%);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

#logo {
  max-height: 3em;
}

.homePic {
  margin: auto;
  width: 40vh;
  object-fit: cover;
}

.caps {
  text-transform: capitalize;
}

.beanColor {
  color: DarkSlateBlue;
}

.beanButton {
  background-color: DarkSlateBlue !important;
  color: white !important;
}

.beanButton:hover {
  background-color: #3a3170 !important;
}

.beanPopUp {
  background-color: #dad8e7 !important;
}

.postListingButton {
  display: none;
}

.topRight {
  position: absolute;
  top: 4px;
  right: 19px;
}

.divA {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color:  #303030;
  text-decoration-color: black !important;
}

.divA :hover {
  color: black !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.tops {
  content:url(./images/tops.png);
}

.bottoms {
  content:url(./images/bottoms.png);
}

.outerwear {
  content:url(./images/outerwear.png);
}

.footwear {
  content:url(./images/footwear.png);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
